@charset "utf-8";

/* Fonte do Google Fonts */
@import
	url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
	;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #008080;
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	border: 2px solid #008080;
	padding: 10px;
}

.Botao1, .Botao2 {
	text-decoration: none;
	padding: 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}

.Botao3 {
	text-decoration: none;
	padding: 3px 20px;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
}

.Botao1 {
	background-color: #008080;
	color: #fff;
	margin-right: 10px;
}

.Botao2 {
	background-color: #d51213;
	color: #fff;
}

.Botao3 {
	text-align: center;
	background-color: #d51213;
	color: #fff;
	margin-right: 10px;
}

.Caixa1, .Caixa2, #caixa3 {
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 1px solid #008080;
	max-width: 320px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#caixa3 {
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 20px;
	border: 1px solid #008080;
	max-width: 20px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#tabela {
	margin-top: 30px;
	border-collapse: collapse;
	width: 100%;
}

#tabela th, #tabela td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

#tabela th {
	background-color: #008080;
	color: #fff;
}